:root {
  --color-black: #242331;
  --color-grey: #797979;
  --color-light-grey: #E6E7E8;
  --color-dark-grey: #333;
  --color-white: #ffffff;
  --color-pink: #EF3C46;
  --color-light-pink: #ea9195;
  --font: "Montserrat";
}
